* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4c5b6c ;
    background-size: cover;
    background-position: center;
}

head {
    flex-wrap: wrap;
    align-items: center;
}

h1 { 
    font-size: 30px;
    align-items: center;
}